.nextflow*
work/*
conda/*
*results*/*
samplesheets/*
HCV_*/*
RVA_*/*
HBV_*/*
MPX_*/*
ROV_*/*
HEV_*/*
HCV-nf/*
Data/Raw_files/*
Data/Kraken_db/*
Data/Blast_db/*
Run712*/*
Test*/
Bowtie_test/*
Tanoti_test/*
Coinfection_HCV_results/*
Adeno/*
FHI_samples_2/*
