// Some default parameters
params.multiqc_config = "$baseDir/multiqc_config.yaml"
params {
    map_to_reference = false
}

profiles {
    test {
        params {
            agens = "HCV"
            outdir = "$baseDir/Test"
            spades_mode = "rnaviral"
            kraken_all = "dummy"
            kraken_focused = "dummy"
            blast_db = "dummy"
        }
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        // Increase time available to build Conda environment
        conda.createTimeout    = "120 min"
        workDir = "/media/jonr/SATA6TB/work"
    }
    docker {
        docker.enabled         = true
        workDir = "/media/jonr/SATA6TB/work"
    }
}



process {
    withLabel:spades {
        cpus   = 12
        memory = 72.GB
    }
    withLabel:large {
        cpus = 12
        memory = 72.GB
    }
    withLabel:medium {
        cpus = 8
        memory = 40.GB
    }
    withLabel:small {
        cpus = 4
        memory = 16.GB
    }
    withLabel:tiny {
        cpus = 2
        memory = 8.GB
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params.reportdir = "${params.outdir}/run_reports"

report {
    enabled = true
    file = "${params.reportdir}/nextflow_report_${trace_timestamp}.html"
}

trace {
    enabled = true
    file = "${params.reportdir}/nextflow_trace_${trace_timestamp}.txt"
}

timeline {
    enabled = true
    file = "${params.reportdir}/nextflow_timeline_${trace_timestamp}.html"
}

dag {
    enabled = true
    overwrite = true
    file = "${params.reportdir}/nextflow_flowchart_${trace_timestamp}.html"
}
