process {
      container = null

      withName:FASTQC {
          container = "${params.use_docker ? 'quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1' : null}"
      }

      withName:TRIM {
          container = "${params.use_docker ? 'quay.io/biocontainers/cutadapt:3.7--py37h8902056_1' : null}"
      }

      withName:DEDUP {
        container = "${params.use_docker ? 'darcyabjones/bbmap:latest' : null}"
      }

      withName:INDEX {
          container = "${params.use_docker ? 'jonbra/viral_haplo:1.2' : null}"
      }

      withName:BOWTIE {
          container = "${params.use_docker ? 'jonbra/viral_haplo:1.2' : null}"
      }

      withName:MODIFY_BAM {
          container = "${params.use_docker ? 'jonbra/viral_haplo:1.2' : null}"
      }

      withName:TANOTI {
          container = "${params.use_docker ? 'jonbra/viral_haplo:1.2' : null}"
      }

      withName:CONSENSUS {
          container = "${params.use_docker ? 'jonbra/viral_haplo:1.2' : null}"
      }

      withName:MODIFY_FASTA {
          container = "${params.use_docker ? 'darcyabjones/bbmap:latest' : null}"
      }

      withName:MULTIQC {
          container = "${params.use_docker ? 'quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0' : null}"
      }

      withName:CLIQUE_SNV {
          container = "${params.use_docker ? 'quay.io/biocontainers/cliquesnv:2.0.3--hdfd78af_0' : null}"
      }
      withName:KRAKEN2 {
          container = "${params.use_docker ? 'quay.io/biocontainers/mulled-v2-5799ab18b5fc681e75923b2450abaa969907ec98:87fc08d11968d081f3e8a37131c1f1f6715b6542-0' : null}"
      }
     withName:SUBSET_KRAKEN2 {
          container = "${params.use_docker ? 'quay.io/biocontainers/krakentools:1.2--pyh5e36f6f_0' : null}"
      }
      withName:SPADES {
          container = "${params.use_docker ? 'quay.io/biocontainers/spades:3.15.4--h95f258a_0' : null}"
      }
      withName:BLASTN {
          container = "${params.use_docker ? 'quay.io/biocontainers/blast:2.12.0--pl5262h3289130_0' : null}"
      }
      withName:ABACAS {
          container = "${params.use_docker ? 'quay.io/biocontainers/abacas:1.3.1--pl526_0' : null}"
      }
}

docker {
    enabled = params.use_docker
}
